.bi-arrow-left-circle {
    color: var(--green);
}

.bi-paperclip ,
.bi-arrow-right-circle {
	cursor: pointer;
}

.add-post {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-control.add-post-textarea {
	margin: 1rem 0;
	background-color: var(--bs-dark);
    color: var(--bs-light);
	min-height: calc(4.5em + .75rem + 2px);
}

#add-post-file {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.bi-arrow-left-circle {
        width: 80%;
    }

    body > .add-post-icon {
        bottom: 1%;
        left: 75%;
    }
}

.add-post > p {
    color: var(--pink);
    margin: 0.5rem 0 0 0;
}
