/*Removing obosolete left column elements*/

.feed-change {
    display: none;
}

#create-group-button {
    display: none;
}

#create-group-final {
    width: 100%;
    color: var(--dark-gray);
}

#search-group, #name-input-group {
    background-color: var(--dark-gray);
}

#name-input-group {
    margin-right: 10%;
    font-size: 1.5rem;
}

#create-button-final.btn-dark {
    width: 25%;
    font-size: 1.2rem;
}

#search-friends-group {
    margin-bottom: 5%;
}

#create-button-final {
    background-color: #1AB2A8;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.alert-empty-group-name {
    width: fit-content!important;
    margin: 0 auto!important;
    display: none!important;
}

.search-people {
    text-align: center;
}

.post-name {
    font-size: 120%;
    text-align: left;
}

.post-name > * {
    padding-left: 6rem;
}

.search-profile-pic {
    height: 5rem;
    width: 5rem;
}

.input-group.mb-3 {
    margin-left: 10%;
}

h2 {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

#search-friends-group .d-flex {
    width: 30%;
    margin: auto;
}

.search-profile-pic {
    height: 5rem;
    width: 5rem;
}

.people-row {
    margin-bottom: 3rem;
}

#center-col-friends {
    width: 100%;
}

.checkbox {
    margin: auto 0;
}


@media only screen and (max-width: 1000px) {
    .search-people {
        width: 90%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #center-col > h2,
    #center-col-friends > h2 {
        font-size: 1.3rem;
    }


    .col-8{
        width: 100%;
        margin-top: 1.5rem!important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .people-row .checkbox .form-check {
        padding-left: 0;
    }

    .col-4 {
        display: none;
    }

    #name-input-group {
        height: 2.5rem;
        font-size: 120%;
    }

    #create-button-final {
        height: 2.5rem;
        background-color: #1AB2A8;
    }

    #search-group {
        font-size: 120%;
        height: 2.5rem;
    }

    .post-header {
        text-align: left;
        margin-left: 1.3rem;
    }

    .people-row {
        margin-bottom: 0rem;
    }

    .post-name {
        margin-bottom: 1rem;
    }

    #person-name {
        font-size: 1rem;
    }


    #create-button-final.btn-dark {
        margin-right: 1rem;
    }

    #search-friends-group .d-flex {
        width: 60%;
    }

    .input-group.mb-3{
        margin-left: 0rem;
        padding-left: 0.5rem;
    }

}