.post-profile-pic {
    height: 4rem;
    width: 4rem;
}

.post {
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.bi-hand-thumbs-up:hover {
    color: var(--green);
}

.bi-hand-thumbs-down:hover {
    color: var(--pink);
}

.bi-chat-dots:hover {
    color: #c2c2c2;
}

.bi-hand-thumbs-down,
.bi-hand-thumbs-up,
.bi-three-dots-vertical,
.bi-chat-dots {
    color: var(--bs-light);
    cursor: pointer;
}

#name-tag {
    text-align: left;
    font-size: 70%;
}

.post-header > * {
    display: inline-block;
}

.post-name {
    vertical-align: middle;
    font-weight: 700;
    font-size: 130%;
}

.post-name > * {
    display: grid;
    padding-left: 3rem;
    padding-right: 3rem;
}

.post-name #name-tag {
    color: var(--bs-gray);
}

.post-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 130%;
}

.post-content {
    text-align: center;
}

.post-content > * {
    width: 100%;
}

.post-date-date,
.post-date-time {
    text-align: right;
    color: var(--bs-gray);
}

.post-date-div {
    padding: 0;
}

.three-dots {
    text-align: right;
}

.post-icons {
    margin: 0.5rem 0;
}


#post-like > * {
    vertical-align: middle;
}

#post-dislike > * {
    vertical-align: middle;
}

.post-comments > hr {
    width: 92%;
    margin: auto;
}

#post-comment-icon > * {
    vertical-align: middle;
}

.post-comment-pic {
    width: 3rem;
    height: 3rem;
}

.comment > hr {
    width: 70%;
    margin: auto;
}

.comment .container-fluid {
    display: inline-block;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.post-comment-div{
    vertical-align: middle;
    margin: auto;
}

.post-comment-text {
    font-size: 110%;
}

.add-comment {
    padding: 1.5em;
    padding-top: 1.0em;
    width: 90%;
}

.add-comment > textarea {
    overflow: hidden;
    border: none;
    resize: none;
    background-color: var(--bs-dark);
    border-color: var(--green);
    border-width: 1px;
    color: var(--bs-light);
}

.add-comment > textarea:focus {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.clickable-pointer {
    cursor: pointer;
    color: var(--green);
}

.send-button {
    margin: auto 0;
    margin-top: 1.15rem;
}

.bi-arrow-right-circle {
    width: auto;
}
