@media only screen and (max-width: 1000px) {
    #left-col.col-2 {
        width: 100%;
        position: relative;
        margin-bottom: 1rem;
    }

    #left-col + .col-8, #left-col + .col-10,
    .col-8 > #center-col, .col-10 > #center-col {
        width: 100%;
        margin: 0;
    }

    nav form.d-flex {
        width: auto;
    }

    .navbar #search {
        display: none;
    }

    header > .navbar {
        padding: 5% 0;
    }

    .navbar h1 {
        margin-bottom: 0;
    }

    .navbar #search-icon-phone {
        display: inline;
        margin: auto;
    }

    .bi-plus-circle {
        width: 80%;
    }

    body > .add-post-icon {
        bottom: 1%;
        left: 75%;
    }

	.navbar #list-icon {
		display: inline;
	}

    #center-col > .invite-card {
        display: inherit;
    }


    .post-name > a >.name-tag.person-friends-name-tag{
        font-size: 50%;
    }

    .post-like{
        display: inline-flex;
    }

    .post-dislike{
        display: inline-flex;
    }

    .invite-button {
        max-height: 50vh;
        overflow: auto;
    }

}

body {
    --pink: #FF3366;
    --green: #1AB2A8;
    --light_green: #e8e8e8;
    --gray: #c2c2c2;
    --dark-gray: #292d32;
    font-family: 'Helvetica', 'Open Sans', sans-serif;

    /*font-weight: 600;*/
}

html {
    height:100%
}

body {
    background-color: var(--bs-dark);
    min-height:100%;
    color: var(--bs-light);
}

header, #left-col, .post, .search, .add-post, .invite-card {
    background-color: var(--dark-gray);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

.navbar {
    padding: 1.5rem 5rem;
    border-bottom: solid black 2px;
}

body > div.container-fluid {
    min-height: 100%;
}

.col-10 {
    width: 80%;
}

.form-check-input:checked {
    background-color: var(--green) !important;
}

.bi {
    display: inline-block;
    margin: auto;
}

.form-check {
    text-align: left;
}

.form-control{
    border-radius: 0%;
    border: solid black 2px;
	color: var(--green);
}

.form-control:focus {
    box-shadow: 0 0 0 0.01rem var(--green);
    border-color: var(--green);
	color: var(--green);
}

.d-flex {
    width: 20%;
}

#search-icon-phone, #list-icon {
    display: none;
}

.link-primary {
    color: var(--green);
}

.link-primary:hover {
    color: var(--green);
}

.link-primary:visited {
    color: var(--green);
}

.bi-plus-circle {
    color: var(--green);
}

#center-col {
    margin: 2rem auto 0 auto;
    width: 50%;
}

.add-post-icon {
    cursor: pointer;
    position: fixed;
    left: 90%;
    bottom: 2%;
}

.help-button:focus{
    box-shadow: none;
}

.modal{
    color: var(--bs-light);
}

.modal-header{
    border-color: black;
}

.modal-title{
    color: var(--green);
}

.modal-title > p{
    margin-bottom: 0rem;
}

.modal-content{
    background-color: #292d32;
}

.btn-close{
    color: var(--green);
    background: transparent;
}

.btn-close:focus{
    color: var(--green);
    box-shadow: none;
}

.btn-close:hover{
    color: var(--green);
}


.link-danger {
	color: var(--pink);
}


.comment,
.post {
    position: relative;
}

.comment-options{
    position: absolute;
    right: 4rem;
    top: 1rem;
    display: inline-block;
    width: auto;
}

.post-options {
    position: absolute;
    right: 4rem;
    top: 2rem
}

.comment-options > .card,
.post-options > .card {
    padding: 0.3rem;
    cursor: pointer;
}

.bi.bi-chevron-compact-down {
    color: var(--green);
    cursor: pointer;
}

#load-more {
    margin: 0 auto 2rem auto;
    display: block;
}


#notifications {
    width: 60%;
    margin: 1.5rem auto 0 auto;
    border-bottom: solid black 2px;
    padding-bottom: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
}

#notifications::-webkit-scrollbar {
	width: 2px;
	border: transparent
}

#notifications::-webkit-scrollbar-thumb {
	border: transparent;
}
