openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW LiNK.ME Web API'
  description: 'Web Resources Specification (A7) for LiNK.ME'
  
servers:
- url: http://lbaw-prod.fe.up.pt
  description: Production server  
  
  
tags:
  - name: 'M01: Authentication and Registration'
  - name: 'M02: Search'
  - name: 'M03: Post'
  - name: 'M04: Individual profiles and Links'
  - name: 'M05: Administration'

paths:

    /login:
        get:
            operationId: R101
            summary: 'R101: Login Form'
            description: 'Provide login form. Access: PUB'
            tags:
                - 'M01: Authentication and Registration'
            responses:
                '200':
                    description: 'Ok. Show [UI04](http://lbaw2145-piu.lbaw-prod.fe.up.pt/login.php)'
        post:
            operationId: R102
            summary: 'R102: Login Action'
            description: 'Processes the login form submission. Access: PUB'
            tags:
                - 'M01: Authentication and Registration'

            requestBody:
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                username:
                                    type: string
                                password:
                                    type: string
                            required:
                                - username
                                - password
            responses:
                '302':
                    description: 'Redirect after processing the login credentials.'
                    headers:
                        Location:
                            schema:
                                type: string
                            examples:
                                302Success:
                                    description: 'Successful authentication. Redirect to Home.'
                                    value: '/home'
                                302Error:
                                    description: 'Failed authentication. Redirect to login.'
                                    value: '/login'

    /home:
        operationId: R103
        summary: 'R103: Logout Action'
        description: 'Logout the current authenticated user. Access: USR, ADM'
        tags:
            - 'M01: Authentication and Registration'
        responses:
            '302':
            description: 'Redirect after processing logout.'
            headers:
                Location:
                    schema:
                        type: string
                    examples:
                        302Success:
                            description: 'Successful logout. Redirect                                         to login form.'
                            value: '/login'
                        302Error:
                            description: 'Failed authentication. Redirect to login.'
                            value: '/login'