#left-col {
    padding-top: 1rem;
    border-right: solid black 2px;
    position: sticky;
    top: 0;
    height: 100vh;
}

#left-col .profile-picture{
    height: 12.5rem;
    width: 12.5rem;
}

.feed-change {
    width: 60%;
    margin: 1rem auto 0 auto;
    border-bottom: solid black 2px;
}

#notifications {
    width: 60%;
    margin: 1.5rem auto 0 auto;
    border-bottom: solid black 2px;
}

#notifications-title > p {
    display: inline-block;
}

#notifications .card {
    padding: 0;
    margin: 0.5rem 0;
}

#notifications .card-body {
    font-size: 0.7rem;
    text-align: left;
    padding: 0.3rem;
}

#notifications .row {
    margin: 0;
}

#about-faq {
    margin-top: 1rem;
}

.bi-exclamation-triangle {
    margin-left: 1rem;
}