@media only screen and (min-width: 1000px) {

    .feed-change {
        display: none;
    }

    #center-col {
        width: 60%;
    }

    .comment  .col-2 {
        width: 10%;
    }

    .post-name > * {
        padding-left: 1rem;
    }

}