@media only screen and (max-width: 1000px) {
    .post-header > .col-4 {
        display: none;
    }

    .text-center + .col-10 {
        width: 100%;
    }

    .people-section {
        margin-top: 2rem !important;
    }

    .search-options {
        font-size: 80%;
    }

    .post-name {
        width: 80%;
    }

    .post-name > * {
        padding-right: 0rem;
        padding-left: 4rem;
    }

    .people-row {
        margin-bottom: 0rem !important;
    }

    .search-people {
        margin-bottom: 1rem;
        width:100%;
    }

    .search-options {
        padding: 0;
    }
}

.feed-change {
    display: none;
}

#center-col {
    width: 100%;
}

.search-options {
    text-align: center;;
}

.search-options > * {
    display: inline-block;
}

.search-option-posts {
    color: #1AB2A8;
}

.search-option-posts:hover {
    color: #1AB2A8;
}

.search-options-row {
    color: inherit;
    display: contents;
    width: 50%;
    font-size: 180%;
}

.people-section {
    margin-top: 5rem;
}

.people-row {
    margin-bottom: 3rem;
}

.search-people {
    text-align: center;
}

.post-name {
    font-size: 120%;
    text-align: left;
}

#person-name {
    font-weight: 400;
}

.search-profile-pic {
    height: 5rem;
    width: 5rem;
}
