@media only screen and (max-width: 1000px) {
    .search-option {
        font-size: 60%;
    }
}

.feed-change {
    display: none;
}

#center-col {
    width: 100%;
}

.search-options {
    text-align: center;;
}

.search-options > * {
    display: inline-block;
}

.search-option-people {
    color: #1AB2A8;
}

.search-option-people:hover {
    color: #1AB2A8;
}

.search-options-row {
    color: inherit;
    display: contents;
    width: 50%;
    font-size: 180%;
}

.people-section {
    margin-top: 5rem;
}

.people-row {
    margin-bottom: 3rem;
}

.search-people {
    text-align: center;
}

.post-name {
    font-size: 120%;
    text-align: left;
}

.search-profile-pic {
    height: 5rem;
    width: 5rem;
}

