body {
    --pink: #FF3366;
    --green: #1AB2A8;
    --light_green: #D1F0EE;
}

header {
    /*background-color: var(--light_green);*/
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

header > .navbar {
    padding: 1.5rem 5rem;
    border-bottom: solid lightgray 2px;
}

body > .container-fluid {
    margin-top: 1rem;
}

#left-col .profile-picture{
    height: 12.5rem;
}

.rounded {
    border-radius: 100%!important;
}

.feed-change {
    width: 60%;
    margin: 2rem auto 0 auto;
    border-bottom: solid lightgray 2px;
}

#feed-type {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#notifications {
    width: 60%;
    margin: 2rem auto 0 auto;
}

#notifications .card {
    padding: 0;
    margin: 1rem 0;
}

#notifications .card-body {
    font-size: 0.7rem;
    text-align: left;
    padding: 0.3rem;
}

#notifications .row {
    margin: 0;
}

.notification-friend-request {
    padding: 0;
    margin: auto;
}

.bi {
    display: inline-block;
}

.bi-check {
    color: var(--green);
}

.bi-x{
    color: var(--pink);
}

.bi-arrow-up-right-circle{
    margin: auto;
    color: var(--green);
}

.form-check {
    text-align: left;
}

.form-control{
    border-radius: 0%;
    border: solid grey 0.1rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--green);
    border: none;
}

.link-primary {
    color: var(--green);
}

.link-primary:hover {
    color: var(--green);
}

.link-primary:visited {
    color: var(--green);
}

.bi-plus-circle {
    color: aqua;
}

.post-profile-pic {
    height: 5rem;
}

.post-header > * {
    display: inline-block;
}

.post-name > * {
    display: grid;
}

