body {
    --pink: #FF3366;
    --green: #1AB2A8;
    --light_green: #e8e8e8;
    --gray: #c2c2c2;
    --dark-gray: #292d32;
    font-family: 'Helvetica', 'Open Sans', sans-serif;

    /*font-weight: 600;*/
}

html {
    height:100%
}

body {
    background-color: var(--bs-dark);
    min-height:100%;
    color: var(--bs-light);
}

header, #left-col, .post, #search {
    background-color: var(--dark-gray);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

header > .navbar {
    padding: 1.5rem 5rem;
    border-bottom: solid black 2px;
}

body > div.container-fluid {
    min-height: 100%;
}

.col-10 {
    width: 81%;
}

#left-col {
    padding-top: 1rem;
    border-right: solid black 2px;
}

#left-col {
    position: sticky;
    top: 0;
    height: 100vh;
}

#left-col .profile-picture{
    height: 12.5rem;
    width: 12.5rem;
}

.feed-change {
    width: 60%;
    margin: 2rem auto 0 auto;
    border-bottom: solid black 2px;
}

#feed-type {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-check-input:checked {
    background-color: var(--green) !important;
}

#notifications {
    width: 60%;
    margin: 1.5rem auto 0 auto;
    border-bottom: solid black 2px;
}

#notifications-title > p {
    display: inline-block;
}

#notifications .card {
    padding: 0;
    margin: 0.5rem 0;
}

#notifications .card-body {
    font-size: 0.7rem;
    text-align: left;
    padding: 0.3rem;
}

#notifications .row {
    margin: 0;
}

.notification-friend-request {
    padding: 0;
    margin: auto;
}

.bi {
    display: inline-block;
    margin: auto;
}

.bi-check {
    color: var(--green);
}

.bi-x{
    color: var(--pink);
}

.bi-arrow-up-right-circle{
    margin: auto;
    color: var(--green);
}

#groups {
    width:70%;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.group-carousel {
    display: inline-block;
    padding: 1rem;
}

.group-image-name {
    display: grid;
    margin: auto;
}

#create-group-button {
    width: 100%;
}

.form-check {
    text-align: left;
}

.form-control{
    border-radius: 0%;
    border: solid black 2px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--green);
    border: none;
}

.d-flex {
    width: 20%
}


.link-primary {
    color: var(--green);
}

.link-primary:hover {
    color: var(--green);
}

.link-primary:visited {
    color: var(--green);
}

.bi-plus-circle {
    color: var(--green);
}

#center-col {
    margin: 2rem auto 0 auto;
    width: 50%;
}

.post-profile-pic {
    height: 4rem;
    width: 4rem;
}

.post {
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.bi-hand-thumbs-down,
.bi-hand-thumbs-up,
.bi-chat-dots {
    color: var(--bs-light);
}

#name-tag {
    text-align: left;
    font-size: 70%;
}

.post-header > * {
    display: inline-block;
}

.post-name {
    vertical-align: middle;
}

.post-name > * {
    display: grid;
    padding-left: 3rem;
    padding-right: 3rem;
}

.post-name #name-tag {
    color: var(--gray); /* TODO: Olhem pra isto */
}

.post-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-content {
    text-align: center;
}

.post-content > * {
    width: 100%;
}

.post-date-date,
.post-date-time {
    text-align: right;
    color: var(--bs-gray);
}

.post-date-div {
    padding: 0;
}

.three-dots {
    text-align: right;
}

#add-post-icon {
    position: fixed;
    bottom: 50px;
    right: 20px;
}

.post-icons {
    margin: 0.5rem 0;
}


#post-like > * {
    vertical-align: middle;
}

#post-dislike > * {
    vertical-align: middle;
}

.post-comments > hr {
    width: 92%;
    margin: auto;
}

#post-comment-icon > * {
    vertical-align: middle;
}

.post-comment-pic {
    width: 3rem;
    height: 3rem;
}

.comment > hr {
    width: 70%;
    margin: auto;
}

.comment .container-fluid {
    display: inline-block;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.post-comment-div{
    vertical-align: middle;
    margin: auto;
}